USE [master]
GO
/****** Object:  Database [DB_SawaStore]    Script Date: 19/04/2026 12:35:52 PM ******/
CREATE DATABASE [DB_SawaStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SawaStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_SawaStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_SawaStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_SawaStore_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SawaStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SawaStore]
GO
/****** Object:  Table [dbo].[ProductCatalog]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCatalog](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NOT NULL,
	[Price] [smallmoney] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
 CONSTRAINT [PK__ProductC__B40CC6EDAAD61210] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductsInfo]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[ProductsInfo]
as
select ProductCatalog.ProductID, ProductCatalog.ProductName,  ProductCategory.CategoryName , ProductCatalog.Description , ProductCatalog.Price, ProductCatalog.QuantityInStock from ProductCatalog
inner join ProductCategory on ProductCatalog.CategoryID = ProductCategory.CategoryID
GO
/****** Object:  Table [dbo].[People]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UsersInfo]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[UsersInfo]
as
SELECT dbo.Users.UserID, dbo.People.Name, dbo.Users.UserName, dbo.People.Email, dbo.People.Phone, Users.IsActive
FROM     dbo.Users INNER JOIN
                  dbo.People ON dbo.Users.PersonID = dbo.People.PersonID
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CustomersInfo]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CustomersInfo]
as
SELECT dbo.Customers.CustomerID, dbo.People.Name, dbo.Customers.UserName, dbo.People.Email, dbo.People.Address, dbo.People.Phone
FROM     dbo.Customers INNER JOIN
                  dbo.People ON dbo.Customers.PersonID = dbo.People.PersonID
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalAmount] [smallmoney] NOT NULL,
	[OrderStatus] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OrderDetails]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[OrderDetails] as
select Orders.OrderID, People.Name, Orders.TotalAmount, Orders.OrderDate, 
case Orders.OrderStatus 
 
	when 1 then 'Pending' 
	when 2 then 'Shipped' 
	when 3 then 'Delivered' 
	else 'Unknown'
end as OrderStatus
from Orders
inner join Customers inner join People on Customers.PersonID = People.PersonID on Orders.CustomerID = Customers.CustomerID
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ReviewText] [nvarchar](150) NOT NULL,
	[Rate] [tinyint] NOT NULL,
	[ReviewDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReviewsInfo]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view  [dbo].[ReviewsInfo]
as
select CustomersInfo.Name, ProductCatalog.ProductName, Reviews.ReviewText, Reviews.Rate, Reviews.ReviewDate from Reviews
inner join CustomersInfo on Reviews.CustomerID = CustomersInfo.CustomerID
inner join ProductCatalog on Reviews.ProductID = ProductCatalog.ProductID
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [smallmoney] NOT NULL,
	[TotalItemsPrice] [smallmoney] NOT NULL,
 CONSTRAINT [PK__OrderIte__08D097C1376F9540] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[Amount] [smallmoney] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageURL] [nvarchar](150) NOT NULL,
	[ImageOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippings]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippings](
	[ShippingID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CarrierName] [nvarchar](30) NOT NULL,
	[TrackingNumber] [smallmoney] NOT NULL,
	[EstimatedDeliveryDate] [datetime] NOT NULL,
	[ActualDeliveryDate] [datetime] NOT NULL,
	[ShippingStatus] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [PersonID], [UserName], [Password]) VALUES (1, 18, N'customer1', N'1234')
INSERT [dbo].[Customers] ([CustomerID], [PersonID], [UserName], [Password]) VALUES (3, 20, N'Custmer4', N'1234')
INSERT [dbo].[Customers] ([CustomerID], [PersonID], [UserName], [Password]) VALUES (4, 21, N'sophie1234', N'Sophie@1234')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[OrderItems] ([OrderID], [ProductID], [Quantity], [Price], [TotalItemsPrice]) VALUES (1, 1, 1, 200.0000, 200.0000)
INSERT [dbo].[OrderItems] ([OrderID], [ProductID], [Quantity], [Price], [TotalItemsPrice]) VALUES (1, 3, 1, 100.0000, 100.0000)
INSERT [dbo].[OrderItems] ([OrderID], [ProductID], [Quantity], [Price], [TotalItemsPrice]) VALUES (1, 8, 5, 20.0000, 100.0000)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [OrderStatus]) VALUES (1, 7, CAST(N'2026-04-05T21:52:45.197' AS DateTime), 450.0000, 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [OrderStatus]) VALUES (2, 7, CAST(N'2026-04-07T15:32:24.103' AS DateTime), 886.5000, 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [OrderStatus]) VALUES (8, 10, CAST(N'2026-04-14T14:05:59.580' AS DateTime), 305.0000, 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonID], [Name], [Email], [Phone], [Address]) VALUES (1, N'Melad Abo Obaid', N'meladaboobaid2@gmail.com', N'0931850300', N'Mars')
INSERT [dbo].[People] ([PersonID], [Name], [Email], [Phone], [Address]) VALUES (2, N'Jana', N'jana@gmail.com', N'0943243224', N'NYC')
INSERT [dbo].[People] ([PersonID], [Name], [Email], [Phone], [Address]) VALUES (3, N'Lana', N'lana@gmail.com', N'534235342', N'NYC')
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCatalog] ON 

INSERT [dbo].[ProductCatalog] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [QuantityInStock]) VALUES (1, 1, N'Laptop', N'Device ...........', 200.0000, 10)
INSERT [dbo].[ProductCatalog] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [QuantityInStock]) VALUES (3, 1, N'Electric Chair', N'Electronic chair with warming up, massage, etc', 100.0000, 5)
INSERT [dbo].[ProductCatalog] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [QuantityInStock]) VALUES (6, 1, N'Speakers', N'Group of speakers connected with each other, managed remotely', 250.0000, 10)
SET IDENTITY_INSERT [dbo].[ProductCatalog] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName]) VALUES (1, N'Electronics')
INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName]) VALUES (2, N'Home')
INSERT [dbo].[ProductCategory] ([CategoryID], [CategoryName]) VALUES (3, N'Fashion')
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [ImageOrder]) VALUES (127, 8, N'D:\Desktop\Sawa Store Project\Products_Images\4df9807e9d3e419d1c0d0bd39c60a19f.jpg', 1)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [ImageOrder]) VALUES (128, 20, N'D:\Desktop\Sawa Store Project\Products_Images\f4b7798b130b1eb368cc4f9daffcd3c9.jpg', 1)
INSERT [dbo].[ProductImages] ([ImageID], [ProductID], [ImageURL], [ImageOrder]) VALUES (129, 20, N'D:\Desktop\Sawa Store Project\Products_Images\a94194b4c4c665b6147b8b830b9744fe.jpg', 2)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive]) VALUES (1, 1, N'Admin', N'1234', 1)
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive]) VALUES (3, 5, N'User1', N'1234', 1)
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive]) VALUES (8, 12, N'User2', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Order__52593CB8] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK__OrderItem__Order__52593CB8]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Produ__534D60F1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductCatalog] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK__OrderItem__Produ__534D60F1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[ProductCatalog]  WITH CHECK ADD  CONSTRAINT [FK__ProductCa__Categ__44FF419A] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[ProductCatalog] CHECK CONSTRAINT [FK__ProductCa__Categ__44FF419A]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK__ProductIm__Produ__48CFD27E] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductCatalog] ([ProductID])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK__ProductIm__Produ__48CFD27E]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK__Reviews__Product__4CA06362] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductCatalog] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK__Reviews__Product__4CA06362]
GO
ALTER TABLE [dbo].[Shippings]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewCategory]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_AddNewCategory]
	@CategoryName nvarchar(50),
	@NewCategoryID int output
as
begin
	insert into ProductCategory(CategoryName)
	values (@CategoryName)

	set @NewCategoryID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewCustomer]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_AddNewCustomer]
	@PersonID int,
	@UserName nvarchar(50),
	@Password nvarchar(50),
	@NewCustomerID int output
as 
begin
	insert into Customers(PersonID, UserName, Password)
	values(@PersonID, @UserName, @Password)

	set @NewCustomerID = SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewPerson]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_AddNewPerson]
@Name nvarchar(50),
@Email nvarchar(50),
@Phone nvarchar(50),
@Address nvarchar(50),
@NewPersonID int Output
as
begin
insert into People(Name, Email, Phone, Address)
values (@Name, @Email, @Phone, @Address);
set @NewPersonID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewProduct]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_AddNewProduct]
	@ProductName nvarchar(50),
	@ProductDescription nvarchar(150),
	@ProductPrice smallmoney ,
	@QuantityInStock int,
	@CategoryID int,
	@NewProductID int output
as
begin
	insert into ProductCatalog (ProductName, Description, Price, QuantityInStock, CategoryID)
	values (@ProductName, @ProductDescription, @ProductPrice, @QuantityInStock, @CategoryID)

	set @NewProductID =  SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_AddNewUser]
@PersonID int,
@UserName nvarchar(50),
@Password nvarchar(50),
@IsActive bit ,
@NewUserID int Output
as
begin
insert into Users(PersonID, UserName, Password, IsActive)
values (@PersonID, @UserName, @Password, @IsActive);
set @NewUserID = SCOPE_IDENTITY();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteCategory]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_DeleteCategory]
	@CategoryID int 
as
begin	
	delete from ProductCategory
   where CategoryID = @CategoryID

end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteCustomer]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure SP_AddNewUser
--@PersonID int,
--@UserName nvarchar(50),
--@Password nvarchar(50),
--@NewUserID int Output
--as
--begin
--insert into Users(PersonID, UserName, Password)
--values (@PersonID, @UserName, @Password);
--set @NewUserID = SCOPE_IDENTITY();
--end


create procedure [dbo].[SP_DeleteCustomer]
	@CustomerID int 
as 
begin
	delete from Customers
	where CustomerID = @CustomerID
end
	
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_DeletePerson]
@PersonID int
as
begin
	delete from People
	where PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteProduct]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_DeleteProduct]
	@ProductID int
as
begin
	delete from ProductCatalog
	where ProductID = @ProductID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure SP_AddNewUser
--@PersonID int,
--@UserName nvarchar(50),
--@Password nvarchar(50),
--@NewUserID int Output
--as
--begin
--insert into Users(PersonID, UserName, Password)
--values (@PersonID, @UserName, @Password);
--set @NewUserID = SCOPE_IDENTITY();
--end

create procedure [dbo].[SP_DeleteUser]
	@UserID int
as 
begin
	delete from  Users 
	where UserID = @UserID	
end
	
GO
/****** Object:  StoredProcedure [dbo].[SP_FindByEmailAndPassword]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_FindByEmailAndPassword]
	@Email nvarchar(50),
	@Password nvarchar(50),
	@UserID int output
as
begin

	if Exists(select f =1 from Users inner join People on Users.PersonID = People.PersonID 
		where Email  = @Email and Password = @Password)
	begin
		select 
		@UserID = Users.UserID 
		from Users		 inner join People on Users.PersonID = People.PersonID 
		where Email  = @Email and Password = @Password
	end

	else
	begin
		set @UserID = -1
	end
end

GO
/****** Object:  StoredProcedure [dbo].[SP_FindCustomerByEmailAndPassword]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_FindCustomerByEmailAndPassword]
	@Email nvarchar(50),
	@Password nvarchar(50),
	@CustomerID int output
as
begin

	if Exists(  select F = 1 from Customers inner join People 
				on Customers.PersonID = People.PersonID
				where Email = @Email and Password = @Password )
	begin
		select 
		@CustomerID = Customers.CustomerID
		from Customers inner join People on Customers.PersonID = People.PersonID
		where Email = @Email and Password = @Password 
	end

	else
	begin
		set @CustomerID = -1;
	end
	
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCustomers]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetAllCustomers]
as 
begin
	   select * from CustomersInfo
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPeople]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetAllPeople]
as
begin
	select * from People
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllProducts]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetAllProducts]
as
begin
	select * from ProductCatalog
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllProductsName]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_GetAllProductsName]
as

begin
	select ProductName from ProductCatalog
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_GetAllUsers]
as 
begin
	select * from UsersInfo
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProductsPerPaging]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE procedure [dbo].[SP_GetProductsPerPaging]
	@NumberOfPage int,
	@RowsPerPage int
as
begin
	select * from ProductsInfo
	order by ProductID ASC 
	offset (@NumberOfPage -1 ) * @RowsPerPage Rows
	Fetch Next @RowsPerPage Rows only
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCategory]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_UpdateCategory]
	@CategoryName nvarchar(50),
	@CategoryID int 
as
begin	
	update ProductCategory
	set 
		CategoryName = @CategoryName
		where CategoryID = @CategoryID

end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCustomer]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure SP_AddNewUser
--@PersonID int,
--@UserName nvarchar(50),
--@Password nvarchar(50),
--@NewUserID int Output
--as
--begin
--insert into Users(PersonID, UserName, Password)
--values (@PersonID, @UserName, @Password);
--set @NewUserID = SCOPE_IDENTITY();
--end

create procedure [dbo].[SP_UpdateCustomer]
	@CustomerID int ,
	@Username nvarchar(50),
	@Password nvarchar(50),
	@PersonID int 
as 
begin
	   update Customers
	   set 
	   PersonID = @PersonID,
	   UserName = @Username,
	   Password = @Password
		where CustomerID = @CustomerID
end
	
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SP_UpdatePerson]
	@PersonID int,
	@Name nvarchar(50),
	@Email nvarchar(50),
	@Phone nvarchar(50),
	@Address nvarchar(50)
as
begin
	update People
	set 
		Name = @Name,
		Email = @Email,
		Phone  = @Phone,
		Address = @Address
		where PersonID = @PersonID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProduct]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_UpdateProduct]
	@ProductID int,
	@ProductName nvarchar(50),
	@Description nvarchar(150),
	@ProductPrice smallmoney ,
	@QuantityStock int,
	@CategoryID int
as
begin
	update ProductCatalog
	set ProductName = @ProductName,
		Description = @Description,
		Price =@ProductPrice,
		QuantityInStock = @QuantityStock,
		CategoryID = @CategoryID
		where ProductID = @ProductID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 19/04/2026 12:35:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure SP_AddNewUser
--@PersonID int,
--@UserName nvarchar(50),
--@Password nvarchar(50),
--@NewUserID int Output
--as
--begin
--insert into Users(PersonID, UserName, Password)
--values (@PersonID, @UserName, @Password);
--set @NewUserID = SCOPE_IDENTITY();
--end
CREATE procedure [dbo].[SP_UpdateUser]
	@UserID int,
	@PersonID int,
	@UserName nvarchar(50),
	@Password nvarchar(50),
	@IsActive bit
as 
begin
	Update Users 
	set PersonID = @PersonID, UserName = @UserName, Password = @Password , IsActive = @IsActive where UserID = @UserID
end
	
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Pending 2-Completed 3-Cancelled ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'OrderStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-OnWay 2- Received 3-Cancelled' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Shippings', @level2type=N'COLUMN',@level2name=N'ShippingStatus'
GO
USE [master]
GO
